body{
    background-image: url('ricee.webp');
    background-size: 100% 100%;
    font-family: "Lato", sans-serif;
    color: white;
}

header{
height: 600px;
}

main {
    padding: 0;
    width: 100%;
    position: relative;
}

.formulario{
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
    margin: 30px 0px 0px;
}

form input {
    border: 2px solid black;
    border-radius: 100px;
}


.nome {
    width: 100%;
    display: block;
    margin: 30px 0px;
}

.nome label{
    display: block;
}

.nome input {
    width: 50%;
    height: 30px;
    text-align: center;
}

.cpf{
    width: 100%;
    display: block;
    margin: 30px 0px;
}

.cpf label{
    text-transform: uppercase;
    display: block;
}

.cpf input {
    width: 50%;
    height: 30px;
    text-align: center;
}

.indicacao{
    width: 100%;
    display: block;
    margin: 30px 0px;
}

.indicacao label{
    display: block;
}

.indicacao input {
    width: 50%;
    height: 30px;
    text-align: center;
}

.telefone {
    width: 100%;
    display: block;
    margin: 30px 0px;
}

.telefone label{
    display: block;
}

.telefone input {
    width: 50%;
    height: 30px;
    text-align: center;
}

.1jogo{
width: 100%;
}

.botafogo{
    display: inline;
}

.botafogo img{
    width: 17%;
}

.botafogo input{
    width: 50px;
    height: 50px;
    text-align: center;
}
.iguacu{
    display: inline;
}
.iguacu img {
    width: 17%;
}

.iguacu input{
    width: 50px;
    height: 50px;
    text-align: center;
}

.2jogo{
width: 100%;
}

.fortaleza{
    display: inline;
}

.fortaleza img{
    width: 17%;
}

.fortaleza input{
    width: 50px;
    height: 50px;
    text-align: center;
}
.americarn{
    display: inline;
}
.americarn img {
    width: 17%;
}

.americarn input{
    width: 50px;
    height: 50px;
    text-align: center;
}

.3jogo{
width: 100%;
}

.inter{
    display: inline;
}

.inter img{
    width: 17%;
}

.inter input{
    width: 50px;
    height: 50px;
    text-align: center;
}
.caxias{
    display: inline;
}
.caxias img {
    width: 17%;
}

.caxias input{
    width: 50px;
    height: 50px;
    text-align: center;
}

.4jogo{
width: 100%;
}

.santos{
    display: inline;
}

.santos img{
    width: 17%;
}

.santos input{
    width: 50px;
    height: 50px;
    text-align: center;
}
.guarani{
    display: inline;
}
.guarani img {
    width: 17%;
}

.guarani input{
    width: 50px;
    height: 50px;
    text-align: center;
}

.5jogo{
width: 100%;
}

.atletico{
    display: inline;
}

.atletico img{
    width: 17%;
}

.atletico input{
    width: 50px;
    height: 50px;
    text-align: center;
}
.cruzeiro{
    display: inline;
}
.cruzeiro img {
    width: 17%;
}

.cruzeiro input{
    width: 50px;
    height: 50px;
    text-align: center;
}

.pagamento{
    width: 30%;
    
}

.enviar2 {
    display: flex;
    justify-content: center;
}

.enviar2 button {
    background: yellow;
    width: 100px;
    height: 30px;
    margin: 20px;
    border-radius: 100px;
    font-weight: bold;
}

footer{
}

@media screen and (max-width:768px){
header{
    height: 500px;
}
}
